/Tarea estructuras/nbproject/private/
/Tarea estructuras/build/
/Tarea estructuras/dist/
/CategoriaDao/nbproject/private/
InitializrSpringbootProject/nbactions.xml
/Tienda_curso/target/
/Tienda_Kevin_Emmanuel_Chavarria_Vargas/target/
